body {
	
  background: #e9e9e9;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav {
	width: 1080px;
  display: inline-block;
  background: #FFFFFF;
  border-radius: 3px;
  border-top: 2px solid #ffce54;
  height: 60px;
	
}
.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav ul li {
  position: relative;
  display: inline-block;
  height: 60px;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  vertical-align: middle;
  float: left;
}
.nav ul li:first-child,
.nav ul li:nth-child(2),
.nav ul li:last-child {
  border-left: 0;
}
.nav ul li:nth-child(2) a:before,
.nav ul li:nth-last-child(2) a:before,
.nav ul li:nth-child(2) a:after,
.nav ul li:nth-last-child(2) a:after {
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.nav ul li:nth-last-child(2) a:after {
  position: absolute;
  z-index: 1;
  top: 0;
  right: -15px;
  content: '';
  width: 0;
  height: 0;
  display: block;
  border-left: 15px solid #FFFFFF;

}

.nav ul li:last-child a:hover {
  background: #ffce54;
}
.nav ul li a {
  position: relative;
  display: block;
  padding: 0 25px;
  color: #666666;
  font-size: 16px;
  line-height: 60px;
  text-decoration: none;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.nav ul li a:hover {
  background: #f2f2f2;
}
.nav ul li a:hover:before {
  border-right: 15px solid #f2f2f2;
}
.nav ul li a:hover:after {
  border-left: 15px solid #f2f2f2;
}
.nav ul li a.logo {
  background: #ffce54;
  width: 30px;
  height: 30px;
  padding: 15px 30px 15px 15px;
  line-height: 1;
  vertical-align: middle;
}
.nav ul li a.logo:hover {
  background: #ffce54;
}
.nav ul li a.logo img {
  width: 100%;
}
.nav ul li a i {
  margin: 0 0 0 6px;
}
.nav ul li .menu {
  display: none;
  position: absolute;
  background: #FFFFFF;
  top: 100%;
  width: 180px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 3px solid #ffce54;
  border-radius: 0 0 3px 3px;
  overflow: hidden;
}
.nav ul li .menu li {
  display: block;
  width: 100%;
  height: 45px;
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.nav ul li .menu li:nth-child(2),
.nav ul li .menu li:nth-last-child(2) {
  height: 45px;
}
.nav ul li .menu li:nth-child(2) a:before,
.nav ul li .menu li:nth-last-child(2) a:before,
.nav ul li .menu li:nth-child(2) a:after,
.nav ul li .menu li:nth-last-child(2) a:after {
  content: '';
  display: none;
}
.nav ul li .menu li a {
  background: #FFFFFF;
  padding: 0 15px 0 30px;
  color: #666666;
  line-height: 45px;
  text-align: left;
}
.nav ul li .menu li a:hover {
  background: #f2f2f2;
}
.text{
	text-shadow: 10px;
}
a.button {
  display: inline-block;
  background: #ffce54;
  color: #fff;
  padding: 12px;
  border-radius: 3px;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 18px;
  line-height: 1;
  font-weight: 100;
}

.button{

  margin: 20px;
	margin-top: 200px;
  text-align: center;
	transition: all 500ms ease; 
}
.button:hover {
	background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 0 0 0 3px #3a7999;
}
.conteiner{
	height: 100%;
	width: 1500px;


}
.lol{
	margin-top: 120px;
	text-align: center;
	margin-left: 300px;
}

.rectangle{
transition: all 0.4s linear;
width: 38%;

display: inline-block;
    min-height: 150px;


    margin-right: 30px;
    margin-top:30px;


background: linear-gradient(90deg, #faf0cd, #fab397);
border-radius: 10px;
}

.text_center_middle{
font-size: 30px;
color: #ffffff;

text-align: center;
line-height: 50px;

}
.desc_center_middle{
font-size: 10px;
color: #C0C0C0;
font-family: 'Inter', serif;
text-align: center;
  line-height: 2;
    max-width: 450px;
    margin: auto

}

.container {
    width: 100%;
    max-width: 1100px;
    max-height: inherit;
    margin: 0 auto;
}

.rectangle:hover {

    transform: scale(1.1,1.1);

}


body{
margin:0;
overflow-x:hidden;
}

.footer{
	 position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;

background:#ffce54;
	opacity: 70%;
padding:30px 0px;
font-family: 'Play', sans-serif;
text-align:center;
}

.footer .row{
width:100%;
margin:1% 0%;
padding:0.6% 0%;
color:black;
font-size:0.8em;
}

.footer .row a{
text-decoration:none;
color:black;
transition:0.5s;
}

.footer .row a:hover{
color:#fff;
}

.footer .row ul{
width:100%;
}

.footer .row ul li{
display:inline-block;
margin:0px 30px;
}

.footer .row a i{
font-size:2em;
margin:0% 1%;
}

@media (max-width:720px){
.footer{
text-align:left;
padding:5%;
}
.footer .row ul li{
display:block;
margin:10px 0px;
text-align:left;
}
.footer .row a i{
margin:0% 3%;
}
}

section {
  text-align: center;
  margin-top: 5.5%;
}
.scroll-arrow {
  width: 10%;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    padding:0;
    margin:0;
    opacity: 0.5;
  font-size:34px;
  transition: 0.2s;
}
.scroll-arrow:hover {
  transition: 0.2s;
  opacity:1;
}
  section ul {
    width: 70%;
    scroll-behavior: smooth;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    text-align: center;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
    section ul::-webkit-scrollbar {
    display: none;
  }
  section li {
    list-style: none;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 20%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    filter: grayscale(100%);
      transition: 0.2s;
  }
section li, img {
  width: 500px;
}
  section li:hover {
    transition: 0.2s;
    filter: grayscale(0);
  }
.btn-toggle{
	margin-left: 180px;
	margin-top: 10px;
	width: 40%
}
